{{!-- <a href={{this.param.name}}> --}}
    <div class='eachBeer'>
        <div class="randomImage">
            <img src={{this.image_url}} />
        </div>
        <div class='randomData'>
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <h4>{{this.tagline}}</h4>
        </div>
    </div>
{{!-- </a> --}}